.footer {
  background-color: var(--hero-bg-color);
  padding: 60px 0;
}

.footer__container {
  display: flex;
  gap: 60px;
  align-items: baseline;
  flex-direction: column;
  align-items: center;

  @include mq(desk) {
    gap: 70px;
  }
}
