.joinus__paragraph {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--white-text-color);

  margin-bottom: 20px;
}

.joinus__link {
  display: flex;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--blue-color);
  }
}

.joinus__list {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-bottom: 30px;
}

.joinus__icon {
  height: 20px;
  width: 20px;
  fill: var(--white-text-color);
}
