.benefit {
  display: flex;
  gap: 30px;
  flex-direction: column;

  @include mq(tab) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include mq(desk) {
    flex-direction: row;
  }
}

.benefit__item {
  max-width: 450px;

  @include mq(tab) {
    width: 354px;
  }

  @include mq(desk) {
    width: calc(100% / 4);
  }
}

.benefit__icon-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  height: 120px;
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;

  @include mq(desk) {
    width: 270px;
  }
}

.benefit__icon {
  display: block;
  width: 70px;
  height: 70px;
  align-items: center;
}

.benefit__header {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  @include mq(desk) {
    text-align: left;
  }
}

.benefit__paragraph {
  color: var(--secondary-text-color);
  margin-top: 10px;
}
