:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --blue-color: #2196f3;
  --white-text-color: #ffffff;
  --transperent-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --hero-bg-color: #2f303a;
  --pure-black-color: #000000;
  --basic-btn-color: #afb1b8;
  --active-btn-color: #f5f4fa;
}
